html {
	font-family: Arial;
	font-size: 10px;
	line-height: 10px;
	color: black;
	box-sizing: border-box;
}
#background-white {background-color: #fff}
#background-black {background-color: #222836}
#nav{
	width:1160px ;
    margin: 1% auto 0
}
#logo-in-header{
		font-size: 2.2rem;
		flex-basis: 13.64%
}
#support-in-header {
	flex-basis: 31.75%;
	border-top: 1px solid #9ba4b0;
	border-bottom: 1px solid #9ba4b0;
	padding: 0.99% 0
	}
#support-in-header h2 {
	font-size: 1.4rem;
    padding-right: 11px
}
#support-in-header span {color: #9ba4b0}
#support-in-header button {
	color: #9ba4b0;
	font-size: 1.4rem;
	margin: 0 11px
}
#nav ul {list-style: none;
background-color:#ff8261;
margin-top: 2.24%}
#nav ul li {flex-basis: 10%;
padding:1.89% 0;
text-align: center;
transition: background-color 0.5s;
}
#nav ul li:hover{background-color:#52cbf8}
#nav ul li a {
	text-decoration: none;
	color:#fff;
	font-size: 1.3rem;
	text-transform: uppercase;
}

#background-black {background-color: #222836}
#wrapper-hosting{
	width: 1160px;
    margin: 0 auto;
 }
 #wrapper-hosting a{
 	width: 5.17%;
 	min-width: 40px;
 	text-decoration: none;
 	color: #fff;
 	font-size: 24px;
 }
 #wrapper-hosting a img {
 	width: 100%;
 }
#wrapper-hosting div {
	flex-basis:36.21%;	 
}
#wrapper-hosting h3{
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #9aaeb7;
	margin:50.95% 0 33.81%
}
#wrapper-hosting h1 {
	font-size: 2.0rem;
	color: #fff;
	text-align: center;
}
#wrapper-hosting h1::first-line {
	font-size: 4.0rem;
	color: #fff
}
#colorful-circles {
	flex-basis: 11.9%;
    margin: 15.71% 0 14.28%}
#colorful-circles img {width: 20.85%}