/верстка+JS/nbproject/private/
/Верстка+JS/nbproject/private/
/HTML5Application/nbproject/private/
/web+JS/nbproject/private/
/HTML5Application (bicycle shop)/nbproject/private/
/HTML5Application_bicycle_shop/nbproject/private/