*{
	font-family: Arial;
	box-sizing: border-box
}
html{
	font-size: 10px;
	line-height: 10px;
	color: black
}

#logo{flex-basis: 150px;
    margin-right: 4.35%}
#logo h3 {
	font-size: 2.0rem;
	color: #161920;
	font-weight: bold
}
#registr {
	font-size: 1.4rem;
	color: #9ba4b0;
	flex-basis: 460px;
	min-width: 300px;
	border-top: 1px solid #9ba4b0;
	border-bottom: 1px solid #9ba4b0;
	margin: 2.45% 0
}
#registr h2 {
	flex-basis: 64.13%;
	padding-left: 17.4%
}
#registr span {color: #484e57
}
#registr button {
	flex-basis: 13.04%;
	padding:0;
	margin: 2.17% 0;
}

/*Блок онсовной навигации страницы
*
*
*/
header nav {position: relative;}
#button_menu {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	background-color: #ff8261;
	padding: 1.55% 0;
	visibility: hidden;
	position: absolute
}
header nav ul{list-style: none;
background-color: #ff8261;
transition: height 800ms}
header nav ul:hover {
	height: auto;
}
header nav li{
	flex-basis: 10%;
	min-width: 95px;
	text-align: center;
	height: 5vw;
	max-height: 58px;
	transition: background-color 500ms	
} 
header nav li:hover {background-color: #52cbf8}
header nav li a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 1.3rem;
	color: #fff;
}
/* блок black блока header (основной банер с кнопками перехода)
*
*
*/
#black {background-color: #222836}
#black_banner {
	width: 88.33%;
}
#black_banner h3{
	font-size: 1.4rem;
	color: #9aaeb7;
	margin: 20.99% 0 15.14%
}
#black_banner h1 {
	font-size: 4.0rem;
	line-height: 2.5rem;
	color: #fff;
	text-align: center;
	margin: 0 5%
}
#black_banner h1 span {font-size: 2.0rem}
#black_banner>div {
	width:50px;
    margin: 6.54% 0 5.86% 0 }
#black_banner>div img{width:14px}

/*Блок BLUE основного блока (БЛОКА MAIN) 
*
*
*/
#blue {background-color: #e7f4f8}
#wrapper_search_form {padding: 3.62vw 0 6.5vw 0}
#search_domain {width: 132px}
#search_form {
	flex-basis:85.48vw;
	max-width: 991.5px;
	min-width: 695px;
	align-self: flex-end
	 }
#search_form form {
	flex-basis: 67.67vw;
	max-width: 785px;
	min-width: 550px;
}
#search_form input {
	flex-basis: 37.06vw;
	max-width:430px;
	min-width: 300px;
	height: 4.75vw;
	max-height: 55px;
	min-height: 40px;
	color: #a0a9b6;
	font-size: 1.4rem;
	border: 1px solid #dfeef3
}
#search_form input::placeholder {color: #a0a9b6}
#search_form select {
	flex-basis:14.22vw; 
	max-width:165px;
	min-width: 115px;
	height: 4.75vw;
	max-height: 55px;
	min-height: 40px;
	color: #a0a9b6;
	font-size: 1.4rem;
	border: 1px solid #dfeef3
}

#search_form button {
	flex-basis:16.81vw;
	max-width: 195px;
	min-width: 135px;
	height: 4.75vw;
	max-height: 55px;
	min-height: 40px;
	background-color: #ff8261;
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	border: none;
	box-shadow: none;
	padding:0 6px
}
/*Блок Benefits 
*
*
*/
#white2 {background-color: #fff}
#wrapper_benefits_logo {margin-top: 6.21vw}
#wrapper_benefits {margin:3.45vw 0 9.97vw}
#wrapper_benefits div {
	flex-basis: 29.74vw;
	max-width: 345px;
	min-width: 215px
}
#wrapper_benefits div img {width: 70px}
#wrapper_benefits div div {
	flex-basis: : 21.12vw;
	max-width: 245px;
	margin-bottom: 5.6vw
}
#wrapper_benefits div div h1  {
	font-size: 1.6rem;
	line-height: 3.1rem;
	color: #556b72
}
#wrapper_benefits div div p  {
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #a0a9b6
}
/* блок Features (pink)
*
*
*/
#pink {background-color: #fffbde}
#wrapper_features_content {padding: 6.89vw 0 10.6vw 0}
#wrapper_hot_content {
	width: 358px;
    margin: 0 2vw 
}
#hot {
	background-color: #fff;
	padding:7.82% 11.73% 10.06% 7.26%;
	margin-top: 2.84vw;
	outline: 2px solid #fffbde;
	outline-offset: -13px;

	}
#hot h2:first-child {
	width: 208px;
	font-size: 4.8rem;
	font-weight: bold; 
	color: #52cbf8
}
#hot h2:first-child::first-line {
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #97947f
}
#hot h2:first-child span {
	color: #ff8261;}
#hot h2:last-child {
	font-size: 1.7rem;
	line-height: 2.0rem;
	font-weight: bold; 
	color: #4c515b;
}
#hot h2:last-child::first-line {color: #97947f}
#features {
	width:57.76vw;
	max-width: 670px;
	min-width: 208px
}
#description_1_2 {
	flex-basis: 40.78vw;
	max-width: 473px; 
	min-width:440px;
}
#description_1 {
	flex-basis: 17.93vw;
	max-width: 208px;
	min-width: 208px;
	margin-top: 1vw 
}
#description_2 {
	flex-basis: 165px;
	max-width: 165px;
	min-width: 165px
}
.description summary {
	font-size: 1.4rem;
	line-height: 3.6rem;
	color: #696556
}
#features button {
	flex-basis:14.22vw;
	max-width: 165px;
	min-width: 135px;
	height: 4.75vw;
	max-height: 55px;
	min-height: 40px;
	background-color: #ff8261;
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	border: none;
	box-shadow: none;
	padding:0 6px
}


/*классы общего использования блоками
*
*
*определяет размер блоков, являющихся обертками, для установки ширины
 контента страницы и позиционирования по центру   
*/
.size {width: 1160px;
	margin: 0 auto;
}
.width100 {flex-basis: 100%}

.block_logo  h2 {
		font-size: 3.0rem;
		line-height: 3.1rem;
		color: #556b72
}
.block_logo h2:first-line{
	font-size: 1.8rem;
	color: #859aa1
}

/* FLEX
*
*
*/
.flex-col {flex-direction: column;}
.flex-wr-bt-start {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
.flex-wr-bt-c {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.flex-wr-bt-end {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
}
.flex-wr-c-c {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.flex-wr-start-c {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content:center;
}
.flex-wr-start-end {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content:flex-end;
}
.flex-nwr-bt-c {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content:center;
}
.flex-nwr-start-c {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content:center;
}
.flex-nwr-bt-end {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
}